$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
	(
		"100": $gray-100,
		"200": $gray-200,
		"300": $gray-300,
		"400": $gray-400,
		"500": $gray-500,
		"600": $gray-600,
		"700": $gray-700,
		"800": $gray-800,
		"900": $gray-900,
	),
	$grays
);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
	(
		"blue": $blue,
		"indigo": $indigo,
		"purple": $purple,
		"pink": $pink,
		"red": $red,
		"orange": $orange,
		"yellow": $yellow,
		"green": $green,
		"teal": $teal,
		"cyan": $cyan,
		"white": $white,
		"gray": $gray-600,
		"gray-dark": $gray-800,
	),
	$colors
);

// grid breakpoints: following bootstrap grid system
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$grid-breakpoints: (
	xs: $xs,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
	xxl: $xxl,
) !default;

// font weights
$weights: (400, 500, 600, 700, 800, "normal", "bold");

// sizes
$sizes: () !default;
$sizes: map-merge(
	(
		"-1": -10px,
		"-2": -20px,
		"-3": -30px,
		"-4": -40px,
		"-5": -50px,
		"-6": -60px,
		"-7": -70px,
		"-8": -80px,
		"-9": -90px,
		"-10": -100px,
		"0": 0,
		"_1": 10px,
		"_2": 20px,
		"_3": 30px,
		"_4": 40px,
		"_5": 50px,
		"_6": 60px,
		"_7": 70px,
		"_8": 80px,
		"_9": 90px,
		"_10": 100px,
		"auto": auto,
		"10": 10%,
		"20": 20%,
		"25": 25%,
		"30": 30%,
		"33": 33.33%,
		"40": 40%,
		"45": 45%,
		"50": 50%,
		"60": 60%,
		"66": 66.66%,
		"70": 70%,
		"75": 75%,
		"80": 80%,
		"90": 90%,
		"100": 100%,
		"10vh": 10vh,
		"25vh": 25vh,
		"50vh": 50vh,
		"75vh": 75vh,
		"100vh": 100vh,
		"10vw": 10vw,
		"25vw": 25vw,
		"50vw": 50vw,
		"75vw": 75vw,
		"100vw": 100vw,
	),
	$sizes
);

// displays
$displays: (
	none,
	flex,
	ruby,
	block,
	contents,
	grid,
	inline,
	inline-block,
	inline-flex,
	table
);

// cursors
$cursors: (
	pointer,
	auto,
	default,
	crosshair,
	not-allowed,
	all-scroll,
	none,
	wait,
	text,
	grab,
	grabbing,
	move,
	copy,
	progress,
	help,
	zoom-in,
	zoom-out,
	alias,
	row-resize,
	col-resize,
	cell,
	e-resize,
	ew-resize,
	context-menu
);

// overflows
$overflows: (
	auto,
	hidden,
	scroll,
	visible
);
