.flex {
	display: flex;
}

@each $display in $displays {
	.d\:#{$display} {
		display: $display !important;
	}

	@include xs {
		.d-xs\:#{$display} {
			display: $display !important;
		}
	}

	@include sm-down {
		.d-sm-down\:#{$display} {
			display: $display !important;
		}
	}

	@include sm {
		.d-sm\:#{$display} {
			display: $display !important;
		}
	}

	@include sm-up {
		.d-sm-up\:#{$display} {
			display: $display !important;
		}
	}

	@include md-down {
		.d-md-down\:#{$display} {
			display: $display !important;
		}
	}

	@include md {
		.d-md\:#{$display} {
			display: $display !important;
		}
	}

	@include md-up {
		.d-md-up\:#{$display} {
			display: $display !important;
		}
	}

	@include lg-down {
		.d-lg-down\:#{$display} {
			display: $display !important;
		}
	}

	@include lg {
		.d-lg\:#{$display} {
			display: $display !important;
		}
	}

	@include lg-up {
		.d-lg-up\:#{$display} {
			display: $display !important;
		}
	}

	@include xl-down {
		.d-xl-down\:#{$display} {
			display: $display !important;
		}
	}

	@include xl {
		.d-xl\:#{$display} {
			display: $display !important;
		}
	}

	@include xl-up {
		.d-xl-up\:#{$display} {
			display: $display !important;
		}
	}

	@include xxl {
		.d-xl\:#{$display} {
			display: $display !important;
		}
	}
}

.flex-row {
	display: flex;
	@extend .flex-d\:row;
}

.flex-col {
	display: flex;
	@extend .flex-d\:col;
}

.flex\:center-between {
	align-items: center;
	justify-content: space-between;
}

.flex\:center-start {
	align-items: center;
	justify-content: flex-start;
}

.flex\:center-end {
	align-items: center;
	justify-content: flex-end;
}

.flex\:end-center {
	align-items: flex-end;
	justify-content: center;
}

.flex\:start-all {
	align-items: flex-start;
	justify-content: flex-start;
}

.flex\:end-all {
	align-items: flex-end;
	justify-content: flex-end;
}

.flex\:justify-center {
	justify-content: center;
}

.flex\:justify-end {
	justify-content: flex-end;
}

.flex\:justify-start {
	justify-content: flex-start;
}

.flex\:items-center {
	align-items: center;
}

.flex\:center-all {
	align-items: center;
	justify-content: center;
}

.flex-d\:col {
	flex-direction: column;
}

.flex-d\:row {
	flex-direction: row;
}

@include xs {
	.flex-d-xs\:col {
		flex-direction: column !important;
	}
	
	.flex-d-xs\:row {
		flex-direction: row !important;
	}
}

@include sm-down {
	.flex-d-sm-down\:col {
		flex-direction: column !important;
	}

	.flex-d-sm-down\:row {
		flex-direction: row !important;
	}
}

@include sm {
	.flex-d-sm\:col {
		flex-direction: column !important;
	}

	.flex-d-sm\:row {
		flex-direction: row !important;
	}
}

@include sm-up {
	.flex-d-sm-up\:col {
		flex-direction: column !important;
	}

	.flex-d-sm-up\:row {
		flex-direction: row !important;
	}
}

@include md-down {
	.flex-d-md-down\:col {
		flex-direction: column !important;
	}

	.flex-d-md-down\:row {
		flex-direction: row !important;
	}
}

@include md {
	.flex-d-md\:col {
		flex-direction: column !important;
	}

	.flex-d-md\:row {
		flex-direction: row !important;
	}
}

@include md-up {
	.flex-d-md-up\:col {
		flex-direction: column !important;
	}

	.flex-d-md-up\:row {
		flex-direction: row !important;
	}
}

@include lg-down {
	.flex-d-lg-down\:col {
		flex-direction: column !important;
	}

	.flex-d-lg-down\:row {
		flex-direction: row !important;
	}
}

@include lg {
	.flex-d-lg\:col {
		flex-direction: column !important;
	}

	.flex-d-lg\:row {
		flex-direction: row !important;
	}
}

@include lg-up {
	.flex-d-lg-up\:col {
		flex-direction: column !important;
	}

	.flex-d-lg-up\:row {
		flex-direction: row !important;
	}
}

@include xl-down {
	.flex-d-xl-down\:col {
		flex-direction: column !important;
	}

	.flex-d-xl-down\:row {
		flex-direction: row !important;
	}
}

@include xl {
	.flex-d-xl\:col {
		flex-direction: column !important;
	}

	.flex-d-xl\:row {
		flex-direction: row !important;
	}
}

@include xl-up {
	.flex-d-xl-up\:col {
		flex-direction: column !important;
	}

	.flex-d-xl-up\:row {
		flex-direction: row !important;
	}
}

@include xxl {
	.flex-d-xxl\:col {
		flex-direction: column !important;
	}

	.flex-d-xxl\:row {
		flex-direction: row !important;
	}
}
