@each $class, $margin in $sizes {
	.m\:#{$class} {
		margin: $margin !important;
	}

	.mx\:#{$class} {
		margin-left: $margin !important;
		margin-right: $margin !important;
	}

	.my\:#{$class} {
		margin-top: $margin !important;
		margin-bottom: $margin !important;
	}

	.mt\:#{$class} {
		margin-top: $margin !important;
	}

	.mb\:#{$class} {
		margin-bottom: $margin !important;
	}

	.ml\:#{$class} {
		margin-left: $margin !important;
	}

	.mr\:#{$class} {
		margin-right: $margin !important;
	}

	@include xs {
		.m-xs\:#{$class} {
			margin: $margin !important;
		}

		.mx-xs\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-xs\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-xs\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-xs\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-xs\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-xs\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include sm {
		.m-sm\:#{$class} {
			margin: $margin !important;
		}

		.mx-sm\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-sm\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-sm\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-sm\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-sm\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-sm\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include md {
		.m-md\:#{$class} {
			margin: $margin !important;
		}

		.mx-md\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-md\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-md\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-md\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-md\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-md\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include lg {
		.m-lg\:#{$class} {
			margin: $margin !important;
		}

		.mx-lg\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-lg\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-lg\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-lg\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-lg\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-lg\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include xl {
		.m-xl\:#{$class} {
			margin: $margin !important;
		}

		.mx-xl\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-xl\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-xl\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-xl\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-xl\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-xl\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include xxl {
		.m-xxl\:#{$class} {
			margin: $margin !important;
		}

		.mx-xxl\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-xxl\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-xxl\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-xxl\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-xxl\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-xxl\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include sm-up {
		.m-sm-up\:#{$class} {
			margin: $margin !important;
		}

		.mx-sm-up\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-sm-up\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-sm-up\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-sm-up\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-sm-up\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-sm-up\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include md-up {
		.m-md-up\:#{$class} {
			margin: $margin !important;
		}

		.mx-md-up\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-md-up\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-md-up\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-md-up\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-md-up\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-md-up\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include lg-up {
		.m-lg-up\:#{$class} {
			margin: $margin !important;
		}

		.mx-lg-up\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-lg-up\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-lg-up\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-lg-up\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-lg-up\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-lg-up\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include xl-up {
		.m-xl-up\:#{$class} {
			margin: $margin !important;
		}

		.mx-xl-up\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-xl-up\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-xl-up\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-xl-up\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-xl-up\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-xl-up\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include sm-down {
		.m-sm-down\:#{$class} {
			margin: $margin !important;
		}

		.mx-sm-down\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-sm-down\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-sm-down\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-sm-down\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-sm-down\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-sm-down\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include md-down {
		.m-md-down\:#{$class} {
			margin: $margin !important;
		}

		.mx-md-down\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-md-down\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-md-down\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-md-down\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-md-down\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-md-down\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include lg-down {
		.m-lg-down\:#{$class} {
			margin: $margin !important;
		}

		.mx-lg-down\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-lg-down\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-lg-down\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-lg-down\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-lg-down\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-lg-down\:#{$class} {
			margin-right: $margin !important;
		}
	}

	@include xl-down {
		.m-xl-down\:#{$class} {
			margin: $margin !important;
		}

		.mx-xl-down\:#{$class} {
			margin-left: $margin !important;
			margin-right: $margin !important;
		}

		.my-xl-down\:#{$class} {
			margin-top: $margin !important;
			margin-bottom: $margin !important;
		}

		.mt-xl-down\:#{$class} {
			margin-top: $margin !important;
		}

		.mb-xl-down\:#{$class} {
			margin-bottom: $margin !important;
		}

		.ml-xl-down\:#{$class} {
			margin-left: $margin !important;
		}

		.mr-xl-down\:#{$class} {
			margin-right: $margin !important;
		}
	}
}
